/*** GLOBAL STYLING ***/
* {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    list-style: none;
    -webkit-font-smoothing: antialiased;
}

html, body {
    height: 100vh;
    overflow: hidden;
}

.landing-hero {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 3rem;
    padding: 5rem;
    background: #222 url('../img/hero.jpg') center center/cover no-repeat;
    text-align: center;
    user-select: none;
}

.landing-hero > * {
    position: relative;
    z-index: 1;
}

.landing-hero::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

.landing-hero h3 {
    margin: 2rem 0 8rem;
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 1.2px;    
}

.landing-hero h1 {
    font-size: 4rem;   
}

.countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
}

.countdown div {
    width: 170px;
    padding: 20px;
    font-size: 3.12rem;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255, 0.1);
    border-radius: 6px;
}

.countdown div:first-child {
    border: 2px solid rgba(23, 163, 184, 0.1);
    background-color: rgba(23, 163, 184, 0.3);
}

.countdown div:not(:last-child) {
    margin-right: 15px;
}

.countdown div span {
    display: block;
    margin-top: 8px;
    font-size: 1.56rem;
}

@media(max-width: 650px) {
    .landing-hero {
        padding-left: 0;
        padding-right: 0;
    }

    .landing-hero img {
        width: 80%;
    }

    .landing-hero h1 {
        display: none;
    }

    .countdown {
        flex-direction: column;
    }

    .countdown div {
        display: none;
    }

    .countdown div:first-child {
        display: block;
        width: 80%;
    }
}

@media(max-height: 600px) {
    .landing-hero img {
        width: 40%;
    }

    .landing-hero h3 {
        display: none;
    }
}

@media(max-height: 400px) {
    .landing-hero img {
        width: 20%;
    }
}